<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Asset Tracking SDKs documentation</title>
    </head>
    <body>
        {% block pageBody %}
        {% endblock %}
    </body>
</html>
