{% extends "base.njk" %}

{% block pageBody %}
    <h1>{{title}}</h1>

    <a href="{{fullDiagramHref}}">Full diagram</a>

    {% for section in sections %}
    <h2>{{section.title}}</h2>
    
    <ul>
        {% for link in section.links %}
        <li>
            <a href="{{link.href}}">{{link.text}}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
