{% extends "base.njk" %}

{% block pageBody %}
    <h1>{{title}}</h1>

    <a href="{{fullDiagramHref}}">Full diagram</a>

    {% for section in sections %}
    <h2>{{section.title}}</h2>
    
    <ul>
        {% for link in section.links %}
        <li>
            {{link.text}} (<a href="{{link.calleesHref}}">Callees</a>, <a href="{{link.callersHref}}">Callers</a>)
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
